{% extends 'base.html.twig' %}

{% block body %}
    <h1>Purchaseproducts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchaseProduct in purchaseProducts %}
            <tr>
                <td><a href="{{ path('admin_purchaseproduct_show', { 'id': purchaseProduct.id }) }}">{{ purchaseProduct.id }}</a></td>
                <td>{{ purchaseProduct.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_purchaseproduct_show', { 'id': purchaseProduct.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_purchaseproduct_edit', { 'id': purchaseProduct.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_purchaseproduct_new') }}">Create a new purchaseProduct</a>
        </li>
    </ul>
{% endblock %}
